{% extends "polls/base.html" %}
{% block mainBody %}

<div class="container">
  <div class="row">
      <div class="col" style="text-align:center">
        <H1>本周會議記錄</H1>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <h2>出席人員</h2>
          <ul>
              <li>主席: Hodge</li>
              <li>與會者: Chris, Bill, Ray, Alex</li>
          </ul>

      </div>
  </div>
  <div class="row">
      <div class="col">
        <h2>泉創</h2>
          <ul>
              <li>觸控面板RMA: 部份係客戶產線人員造成損壞。</li>
              <li>複檢不良狀況: 生產品質改善, 但LCD不良增加。</li>
          </ul>

      </div>
  </div>
  <div class="row">
      <div class="col">
        <h2>日月光狀況報告</h2>
          <ul>
              <li>解決傳輸問題後才會進行採購。</li>
          </ul>
      </div>
  </div>
  <div class="row">
      <div class="col">
        <h2>主席報告</h2>
          <ul>
              <li>語音產品應加強發展力度</li>
          </ul>

      </div>
  </div>
</div>


{% endblock mainBody %}
