{% extends "announce/base.html" %}
{% load static %}
{% block mainBody %}
<div class='container'>
  <p>周數: {{ week }}<br> 年度: {{ year }} <br>報告人: {{ username }}</p>
  {% if fileExist %}
  <p>本周報告己上傳過。重覆上傳可直接蓋掉舊檔。</p>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">確定上傳</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
</div>
{% endblock %}