{% extends "announce/base.html" %}
{% load static %}
{% block mainBody %}

<div class="container">
    <div style="text-align:center"><h3>{{ operation_name }}</h3></div>
  <form action="{% url 'announce:uploadAnnouncement' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
        <tr>
          <td></td>
          <td>    <input type="file" name="myfile"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" value="送 出"></td>
        </tr>
     </table>
  </form>
</div>

{% endblock %}